:root{
    --color-white: #ffffff;
    --color-black: #212121;
    --color-green: #00897b;
    --color-blue: #3949ab;
    --color-light-green: #e4fdf9;
    --color-grey: #f0f1f1;
    --font-family: "Open Sans", sans-serif;
    --roboto: "Roboto", bold;
}

* {
    box-sizing: border-box;
    font-family: var(--font-family);
}

body,html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

h1{
    font-size: 30px;
}

p{
    font-size: 15px;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

header{
    padding-top:30px;
    padding-bottom: 35px;
    position: fixed;
    background-color: var(--color-white);
    width: 100%;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    z-index: 100;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: var(--color-black);
    font-size: 25px;
    font-weight: bold;
}

.menu{
    display: flex;
    gap: 45px;
    align-items: center;
}

.menu li:last-child{
    position: relative;
}

.menu li a{
    color: var(--color-black);
    font-size: 20px;
    font-weight: 600;
}

.search{
    border-radius: 5px;
    padding: 10px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    position:absolute;
    top: 100%;
    right: 0;
    display: none;
}
.search.active{
    display: block;
}
.main-banner{
    background: url('../images/main-banner.jpg') center center no-repeat;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 70px;
    height: 100vh;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-banner{
    background: url('../images/main-banner.jpg') center center no-repeat;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 70px;
    height: 100vh;
    color: var(--color-white);
}
.main-banner .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-banner h1{
    font-size: 60px;
    line-height: 22px;
    font-weight: 600;
}
.main-banner p{
    font-size: 22px;
    line-height: 22px;
    padding-top: 45px;
    padding-bottom: 110px;
}

.button{
    font-family: var(--font-family-roboto);
    background: none;
    border-radius: 0;
    border: 2px solid var(--color-black);
    color: var(--color-black);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 12px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.main-banner .button{
    border: 3px solid var(--color-white);
    color: var(--color-white);
    width: 220px;
}

.main-banner .button:hover, .main-banner .button:focus{
    background: var(--color-green);
    border-color: var(--color-green) !important;
}

.banner-buttons{
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-bottom: 100px;
}

.button_green{
    background: var(--color-green);
    border-color: var(--color-green) !important;
}

.main-banner .arrow{
    width: 16px;
    height: 16px;
    background: none;
    border: none;
    border-left: 5px solid var(--color-white);
    border-bottom: 5px solid var(--color-white);
    transform-origin: 50% 50%;
    transform: rotate(-45deg);
    cursor: pointer;
}

#about-us{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 670px;
    background-color: var(--color-white);
}
.Big{
    font-size: 30px;
    margin-top: 125px;
}
#about-us p{
    font-size: 15px;
    text-align: center;
    margin-top: 36px;
}
.div-container{
    display: flex;
    margin-top: 108px;
    gap: 145px;
}
.block{
    height: 200px;
    
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.block h1{
    margin-top: 40px;
    font-weight: 600;
}
.block p{
    margin-top: 27px;
}
.img-holder{
    width: 60px;
    height: 60px;
}
#our-services{
    height: 1410px;
    width: 100%;
    background-color: var(--color-light-green);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 175px;
}
#our-services p{
    text-align: center;
    margin-top: 35px;
}
.grid-div{
    display: grid;
    grid-template-columns: 380px 380px 380px;
    gap: 30px;
    margin-top: 110px;
}
.service{
    width: 370px;
    height: 438px;
    background-color: var(--color-white);
    padding: 48px;
    display: flex;
    align-items:  center;
    flex-direction: column;
    transition:  0.6s ease;
}
.hed{
    font-size: 20px;
    margin-top: 35px;
    transition:  0.6s ease;
}
.ser{
    margin-top: 25px;
    background-color: rgba(255, 255, 255, 0);
    transition:  0.6s ease;
}
.phone{
    transition:  0.6s ease;
}
.more{
    width: 150px;
    height: 55px;
    font-size: 20px;
    border: 2px solid var(--color-black);
    background-color: rgba(255, 255, 255, 0);
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 25px;
    cursor: pointer;
    transition:  0.6s ease;
}

#last-works{
    height: 1616px;
    width: 100%;
    padding-top: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--color-white);
}
#last-works p{
    margin-top: 35px;
}
.container-filt{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 20px;
    margin-top: 110px;
}

.filt{
    padding: 20px 31px;
    background-color: var(--color-white);
    border: 2px solid var(--color-green);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600px;
    transition: 0.6s ease;
}

.filt:hover{
    transition: 0.6s ease;
    background-color: var(--color-green);
    color: var(--color-white);
    cursor: pointer;
}
.work-img{
    position: relative;
  width: 370px; /* ширина блока */
  height: 370px; /* высота блока */
  overflow: hidden;
}

.work-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0); /* изначально прозрачный */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.work-img:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5); /* затемнение */
  opacity: 1; /* показываем текст */
}

.overlay h1,p{
    cursor: default;
}
.overlay h1{
    font-size: 20px;
}
.overlay p{
    font-size: 15px;
    margin: 0;
}

.view{
    width: 220px;
    height: 70px;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: var(--color-green);
    border: 2px solid var(--color-green);
    margin-top: 125px;
    font-size: 20px;
    font-weight: 700;
}

.pricing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-grey);
  text-align: center;
  padding-bottom: 100px;
}

.pricing-section h3 {
  margin-top: 127px;
  font-size: 30px;
  font-weight: bold;
}

.pricing-section p {
  margin-top: 30px;
  max-width: 700px;
  font-size: 16px;
  color: #555;
}

.pricings {
  display: flex;
  gap: 30px;
  margin-top: 60px;
  width: 100%;
  justify-content: center;
}

.pricing {
  background-color: var(--color-white);
  width: 370px;
  height: 667px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 40px;
}

.pricing::before {
  content: "";
  position: absolute;
  left: -21px;
  top: -21px;
  width: 109%;
  height: 205px;
  background-color: var(--color-blue);
  transform: rotate(-5deg);
  z-index: 1;
}

.priсing-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-white);
  z-index: 2;
  margin-top: 40px;
  margin-bottom: 25px;
  position: relative;
}

.priсing-header h3 {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top:-10px;
}

.priсing-header p {
  margin-top: 15px;
  font-size: 18px;
}

.priсing-header p span {
  font-size: 50px;
  color: var(--color-white);
}
.priсing-header p span sup {
  font-size: 25px;
  color: var(--color-white);
}

.priсing-header p small {
  color: var(--color-white);
}

.pricing ul {
  list-style: none;
  padding: 0;
  margin: 30px 0 0 0;
  z-index: 2;
  position: relative;
  margin-top: 60px;
}

.pricing ul li {
  padding: 10px 0;
  color: #555;
  font-size: 16px;
  border-bottom: 2px solid #f0f0f0;
  padding-top: 27px;
  width: 170px;
}


.pricing-btn {
  margin-top: 35px;
  padding: 14px 0;
  margin-top: 64px;
  width: 180px;
  border: 2px solid var(--color-black);
  background: none;
  color: var(--color-black);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s, color 0.3s;
  z-index: 2;
  position: relative;
}

.pricing-btn.active,
.pricing-btn:hover {
  background: var(--color-green);
  color: var(--color-white);
  border-color: var(--color-green);
}

#photo{
    height: 1095px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--color-white);
}

#photo h1{
    margin-top: 120px ;
    font: 20px;
}

.phot{
    margin-top: 40px;
    text-align: center;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.card h3{
    margin-top: 35px;
}

.card p{
    margin-top: 10px;
}

.socials{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card-block{
    display: flex;
}
.owl-carousel {
    padding-left: 360px;
    padding-right: 360px;
    box-sizing: border-box;
    margin-top: 130px;

}

.owl-dots.disabled {
    display: flex !important;
    opacity: 1 !important;
    pointer-events: auto !important;
    justify-content: center;  
    margin-top: 15px;
}
.owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin: 0 6px;
    background: var(--color-green);
    border-radius: 50%;
    display: block;
    transition: background-color 0.3s;
    margin-top: 125px;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: var(--color-blue);
}

.pers{
    width: 360px;
    height: 315px;
}

.owl-carousel .card .pers {
    width: 360px;
    height: 315px;
    object-fit: cover;
    display: block;
}

.media {
    width: 50px;
    height: 50px;
    background-color: var(--color-grey);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 33px;
}

.media img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    display: block;
}

#blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--color-light-green);
    padding-bottom: 125px;
}

.blogContainer{
    width: 1170px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.blogs .blogContainer:nth-child(2n) {
    flex-direction: row-reverse;
}
.blogs .blogContainer:nth-child(1) {
    margin-top: 125px;
}

.date{
    display: flex;
    margin-top: 21px;
    margin-bottom: 35px;
}
.date p{
    margin-left: 15px;
    font-weight: bold;
    margin-bottom: 0px;
}

.blogContainer div a {
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
    margin-top: 60px;
    display: inline-block; /* теперь margin-top работает */
    color: var(--color-black);
}

.blogContainer div a:hover {
    color: var(--color-green);
}
.marg{
    margin-left: 40px;
}

.blog .view{
    margin-top: 125px;
}
#contact{
    height: 1253px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url('../images/contact-back.jpg') center center no-repeat;
    background-size: cover;
    color: var(--color-white);
}

#contacts{
    width: 970px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.sect{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:320px;
}

.circle{
    width: 107px;
    height: 107px;
    background-color: var(--color-blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;

}

.blog-item{
    width: 570px;
}

.sect p{
    font-size: 20px;
    text-align: center;
}

.copyright{
    margin-top: auto;
    width: 100%;
    height: 65px;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-black);
    font-weight: 800;
}

.col{
    display: flex;
    gap: 30px;
}
.col input{
    width: 500px;
    height: 82px;
    border-radius: 12px;
    border: none;
    padding:15px;
}
.col input::placeholder{
    font-weight: 800;
    font-size: 15px;
}

#inp{
    width: 1030px;
    height: 320px;
    border-radius: 12px;
    border: none;
    margin-top: 30px;
    padding:25px;
    padding-bottom: 270px;
}
#inp::placeholder{
    font-weight: 800;
    font-size: 15px;
    
}

.forms{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

#white-button{
    width: 220px;
    height: 70px;
    margin-left: 78.5%;
    margin-top: 40px;
    text-transform: uppercase;
    background-color: var(--color-white);
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    color:var(--color-black)
}